In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/michaelford/Downloads/Crimes_-_2001_to_present (2).csv")
df = df[df['Primary Type'] == "THEFT"].copy()
df['Date'] = pd.to_datetime(df['Date'])

In [12]:
df.shape

(1370731, 21)

In [13]:
df = df[df.Date < "2018-01-01"]

In [27]:
df = df[df['X Coordinate'].notnull()].copy()

In [28]:
 = df['Date'].copy()

In [31]:
df['Date'] = df['DateTime'].dt.date

In [46]:
df = df[df['District'].notnull()].copy()

In [54]:
df['Coursework Test Set'] = df['DateTime'] > "2016-01-01"

In [57]:
df.to_csv("chicago_crime_thefts_filtered_v2.csv")

In [58]:
df.head()

,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,...,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,DateTime,Coursework Test Set
ID,,,,,,,,,,,,,,,,,,,,,
10000111,HY190019,2015-03-18,051XX W CHICAGO AVE,0860,THEFT,RETAIL THEFT,GAS STATION,True,False,1531,...,06,1141741.0,1904839.0,2015,02/10/2018 03:50:01 PM,41.894946,-87.754875,"(41.894945606, -87.754874977)",2015-03-18 22:31:00,False
10000115,HY190036,2015-03-18,069XX S LOOMIS BLVD,0890,THEFT,FROM BUILDING,GROCERY FOOD STORE,False,False,734,...,06,1168192.0,1858832.0,2015,02/10/2018 03:50:01 PM,41.768167,-87.659054,"(41.768167414, -87.659053795)",2015-03-18 21:00:00,False
10000117,HY190068,2015-03-18,087XX S KIMBARK AVE,0890,THEFT,FROM BUILDING,BAR OR TAVERN,False,False,412,...,06,1186312.0,1847473.0,2015,02/10/2018 03:50:01 PM,41.736588,-87.592994,"(41.736588206, -87.59299436)",2015-03-18 22:45:00,False
10000118,HY190031,2015-03-18,075XX S STONY ISLAND AVE,0860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,True,False,411,...,06,1188123.0,1855151.0,2015,02/10/2018 03:50:01 PM,41.757614,-87.586115,"(41.757614433, -87.586115266)",2015-03-18 22:00:00,False
10000190,HY190026,2015-03-18,035XX W CARROLL AVE,0810,THEFT,OVER $500,OTHER,False,True,1123,...,06,1152754.0,1902171.0,2015,02/10/2018 03:50:01 PM,41.887413,-87.714498,"(41.887413474, -87.714497528)",2015-03-18 22:30:00,False